name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:      # allows manual run

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Pacman graph
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: OmSutar75

      - name: Push SVG to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
